In [2]:
import pandas as pd
df = pd.read_csv('parks.csv')
df

,Park Code,Park Name,State,Acres,Latitude,Longitude
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21
1,ARCH,Arches National Park,UT,76519,38.68,-109.57
2,BADL,Badlands National Park,SD,242756,43.75,-102.50
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42
11,CONG,Congaree National Park,SC,26546,33.78,-80.78
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55
14,DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93
18,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00
20,GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14
23,GRSA,Great Sand Dunes National Park and Preserve,CO,42984,37.73,-105.51
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90
32,KATM,Katmai National Park and Preserve,AK,3674530,58.50,-155.00
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28
35,LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16
44,REDW,Redwood National Park,CA,112512,41.30,-124.00
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50
47,SEKI,Sequoia and Kings Canyon National Parks,CA,865952,36.43,-118.68
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50
55,ZION,Zion National Park,UT,146598,37.30,-113.05

In [4]:
#Only give 3 rows
df[:3]

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50

In [5]:
#only give between 15 to 21
df[15:21]

,Park Code,Park Name,State,Acres,Latitude,Longitude
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93
18,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00
20,GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00

In [6]:
df[:5]

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [7]:
#only last five rows
df.tail(5)

,Park Code,Park Name,State,Acres,Latitude,Longitude
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50
55,ZION,Zion National Park,UT,146598,37.30,-113.05

In [8]:
#only first five rows
df.head(5)

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [9]:
df[50:52]['Park Name']

50    Voyageurs National Park
51    Wind Cave National Park
Name: Park Name, dtype: object

In [10]:
df[50:54]

,Park Code,Park Name,State,Acres,Latitude,Longitude
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50

In [11]:
df.iloc[50:54]

,Park Code,Park Name,State,Acres,Latitude,Longitude
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50

In [13]:
df['State']

0             ME
1             UT
2             SD
3             TX
4             FL
5             CO
6             UT
7             UT
8             UT
9             NM
10            CA
11            SC
12            OR
13            OH
14            AK
15        CA, NV
16            FL
17            FL
18            AK
19            MT
20            AK
21            NV
22            AZ
23            CO
24        TN, NC
25            WY
26            TX
27            HI
28            HI
29            AR
30            MI
31            CA
32            AK
33            AK
34            AK
35            AK
36            CA
37            KY
38            CO
39            WA
40            WA
41            WA
42            AZ
43            CA
44            CA
45            CO
46            AZ
47            CA
48            VA
49            ND
50            MN
51            SD
52            AK
53    WY, MT, ID
54            CA
55            UT
Name: State, dtype: object

In [14]:
df['State'].loc[15]

'CA, NV'

In [15]:
df[15:21]['Acres'].mean()

3012743.5

In [16]:
df[df['Park Code']=='ACAD']['Park Name']

0    Acadia National Park
Name: Park Name, dtype: object

In [21]:
df['Acres'].loc[(df['Park Code']=='GRSA') | (df['Park Name']=='BADL') | (df['Park Name']=='YELL')].sum()

42984

In [22]:
df[df['Acres']<10000].count()

Park Code    1
Park Name    1
State        1
Acres        1
Latitude     1
Longitude    1
dtype: int64

In [25]:
len(df['Acres'][df['Acres']<10000])

1

In [28]:
len(df['Longitude'][df['Longitude']<-90])

46

In [30]:
x=df['Acres'][df['Park Name']=='Yellowstone National Park'].iloc[0]
x

2219791

In [32]:
df[df['Acres']>x].sort_values(by='Acres')['Park Name'].values[0]

'Lake Clark National Park and Preserve'

In [33]:
y=df['Acres'][df['State']!='AK'].max()

In [34]:
df['Park Name'] [df['Acres']==y]

15    Death Valley National Park
Name: Park Name, dtype: object

In [36]:
z=df['Park Name']
len(df[df['State'].str.contains(',')])

3

In [37]:
df[df['State'].str.contains(',')].count()

Park Code    3
Park Name    3
State        3
Acres        3
Latitude     3
Longitude    3
dtype: int64